.button {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.button .state-layer-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
  width: 100%;
}

.button .label-text-3 {
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .instance-node {
  height: 18px !important;
  position: relative !important;
  width: 18px !important;
}

.button .label-text-4 {
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .label-text-5 {
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button .img {
  height: 24px;
  position: relative;
  width: 24px;
}

.button.style-2-booka-a-visit {
  gap: 16px;
  padding: 16px;
}

.button.style-2-text {
  flex-direction: column;
  gap: 8px;
  height: 48px;
  overflow: hidden;
}

.button.style-2-filled {
  flex-direction: column;
  gap: 8px;
  height: 48px;
  overflow: hidden;
}

.button.style-2-outlined {
  border: 1px solid;
  flex-direction: column;
  gap: 8px;
  height: 48px;
  overflow: hidden;
}

.button.state-3-focused.style-2-filled {
  background-color: #ffffff;
}

.button.state-3-enabled.style-2-filled {
  background-color: #4640de;
}

.button.style-2-outlined.state-3-pressed {
  border-color: #4640de;
}

.button.style-2-booka-a-visit.state-3-pressed {
  background-color: #62ba3b80;
}

.button.state-3-hovered.style-2-filled {
  background-color: #ffffff;
}

.button.style-2-outlined.state-3-focused {
  border-color: #4640de;
}

.button.style-2-outlined.state-3-enabled {
  border-color: #4640de;
}

.button.style-2-booka-a-visit.state-3-enabled {
  background-color: #62ba3b;
}

.button.style-2-outlined.state-3-disabled {
  border-color: var(--grayscale-300);
}

.button.state-3-pressed.style-2-filled {
  background-color: #ffffff33;
}

.button.style-2-outlined.state-3-hovered {
  border-color: #4640de;
}

.button.style-2-booka-a-visit.state-3-hovered {
  background-color: #62ba3bb2;
  box-shadow: var(--button-hover);
}

.button.style-2-booka-a-visit.state-3-focused {
  background-color: #62ba3b80;
}

.button.show-icon-1-false.state-3-hovered.style-2-filled {
  box-shadow: var(--m3-elevation-light-1);
}

.button.show-icon-1-true.state-3-hovered.style-2-filled {
  box-shadow: var(--button-hover);
}

.button.style-2-booka-a-visit .state-layer-2 {
  padding: 10px 24px 10px 16px;
}

.button.style-2-text .state-layer-2 {
  justify-content: center;
}

.button.style-2-filled .state-layer-2 {
  justify-content: center;
}

.button.show-icon-1-true.style-2-filled .state-layer-2 {
  padding: 10px 24px 10px 16px;
}

.button.state-3-focused.style-2-filled .state-layer-2 {
  background-color: #4640de80;
}

.button.show-icon-1-false.style-2-filled .state-layer-2 {
  padding: 10px 24px;
}

.button.style-2-outlined.state-3-pressed .state-layer-2 {
  background-color: #4640de29;
  justify-content: center;
}

.button.state-3-hovered.style-2-filled .state-layer-2 {
  background-color: #4640deb2;
}

.button.style-2-outlined.state-3-focused .state-layer-2 {
  background-color: #4640de29;
  justify-content: center;
}

.button.style-2-outlined.state-3-enabled .state-layer-2 {
  justify-content: center;
}

.button.show-icon-1-false.style-2-outlined .state-layer-2 {
  justify-content: center;
  padding: 10px 24px;
}

.button.style-2-outlined.show-icon-1-true .state-layer-2 {
  padding: 10px 24px 10px 16px;
}

.button.state-3-focused.style-2-text .state-layer-2 {
  background-color: #4640de29;
}

.button.state-3-pressed.style-2-filled .state-layer-2 {
  background-color: #4640de80;
}

.button.style-2-outlined.state-3-hovered .state-layer-2 {
  background-color: #4640de14;
  justify-content: center;
}

.button.show-icon-1-true.style-2-text .state-layer-2 {
  padding: 10px 16px 10px 12px;
}

.button.style-2-text.state-3-hovered .state-layer-2 {
  background-color: #4640de14;
}

.button.state-3-disabled.style-2-filled .state-layer-2 {
  background-color: #bfbfc280;
}

.button.state-3-pressed.style-2-text .state-layer-2 {
  background-color: #4640de1f;
}

.button.show-icon-1-false.style-2-text .state-layer-2 {
  padding: 10px 12px;
}

.button.state-3-focused.style-2-filled.show-icon-1-true .state-layer-2 {
  border-radius: 4px;
  overflow: hidden;
}

.button.show-icon-1-true.state-3-hovered.style-2-filled .state-layer-2 {
  border-radius: 4px;
  overflow: hidden;
}

.button.state-3-disabled .label-text-3 {
  color: var(--grayscale-900);
  opacity: 0.38;
}

.button.state-3-enabled.style-2-text .label-text-3 {
  color: #4640de;
}

.button.state-3-focused.style-2-filled .label-text-3 {
  color: #ffffff;
}

.button.state-3-enabled.style-2-filled .label-text-3 {
  color: #ffffff;
}

.button.style-2-outlined.state-3-pressed .label-text-3 {
  color: #4640de;
}

.button.style-2-booka-a-visit.state-3-pressed .label-text-3 {
  color: #4640de;
}

.button.state-3-hovered.style-2-filled .label-text-3 {
  color: #ffffff;
}

.button.style-2-outlined.state-3-focused .label-text-3 {
  color: #4640de;
}

.button.style-2-booka-a-visit.state-3-enabled .label-text-3 {
  color: #4640de;
}

.button.style-2-outlined.state-3-enabled .label-text-3 {
  color: #4640de;
}

.button.state-3-focused.style-2-text .label-text-3 {
  color: #4640de;
}

.button.state-3-pressed.style-2-filled .label-text-3 {
  color: #ffffff;
}

.button.style-2-booka-a-visit.state-3-hovered .label-text-3 {
  color: #4640de;
}

.button.style-2-outlined.state-3-hovered .label-text-3 {
  color: #003669;
}

.button.style-2-text.state-3-hovered .label-text-3 {
  color: #4640de;
}

.button.style-2-booka-a-visit.state-3-focused .label-text-3 {
  color: #4640de;
}

.button.state-3-pressed.style-2-text .label-text-3 {
  color: #4640de;
}

.button.state-3-hovered .label-text-4 {
  color: #4640de;
}

.button.state-3-disabled .label-text-4 {
  color: var(--grayscale-900);
  opacity: 0.38;
}

.button.state-3-pressed .label-text-4 {
  color: #4640de;
}

.button.state-3-enabled .label-text-4 {
  color: #4640de;
}

.button.state-3-focused .label-text-4 {
  color: #4640de;
}

.button.style-2-booka-a-visit .label-text-5 {
  color: #4640de;
}

.button.style-2-text .label-text-5 {
  color: #4640de;
}

.button.style-2-filled .label-text-5 {
  color: #ffffff;
}

.button.style-2-outlined.state-3-pressed .label-text-5 {
  color: #4640de;
}

.button.style-2-outlined.state-3-focused .label-text-5 {
  color: #4640de;
}

.button.style-2-outlined.state-3-enabled .label-text-5 {
  color: #4640de;
}

.button.style-2-outlined.state-3-disabled .label-text-5 {
  color: #4640de;
}

.button.style-2-outlined.state-3-hovered .label-text-5 {
  color: #003669;
}
